extends template

block title
	|Lacaille TRANSIT

block contactTitle
	|Contactez-nous

block contactAddress
	p
		strong Tél : 
		|(514) 943-5200<br>
		strong Téléc : 
		|(450) 659-7067<br>
		|79, Chemin d`Auteuil<br>
		|Candiac, Québec<br>
		|J5R 5H5<br><br>

block contact1t
	|Président:
			
block contact2t
	|Coordonnatrice à la répartition:

block contact3t
	|Administration:

block aboutTitle
	|À propos de nous:
block about
	p Issu de la troisième génération d’une famille d’entrepreneur en camionnage, Lacaille Transit Inc. est en opération depuis 2005. Soucieux d’offrir un service professionnel, nous sommes fiers de compter sur une équipe dynamique et expérimentée. Situé à Candiac, nous desservons le Québec, l’Ontario, le Manitoba ainsi que les provinces maritimes. Notre flotte comporte 25 camions, 60 remorques et 10 porte-conteneurs qui répondent aux critères de sécurité de l’industrie.
	p: strong Notre motivation est de servir nos clients à la hauteur de leurs attentes en établissant un lien de confiance à long terme.
	p Nous sommes ambitieux de rouler avec vous!<br>
	|Stéphane Lacaille, Président
block servicesTitle
	|Services:

block services
	p Nous sommes en mesure d'offrir les services de transport suivants:
	ul 
		li Remorques fermées
		li Remorques flatbed
		li Transport par conteneurs
		li Transport Intermodal
		li Services Outre-mer
		li Service dédié (produits secs, réfrigérés, congelés)

block documentsTitle
	|Documents utiles

block documents
	ul
		li: a(href="Application_credit_francais.xlsx",target="_blank") Application de Crédit
		li: a(href="info_credit.pdf",target="_blank") Informations de crédit
		li: a(href="Assurance_2012.pdf",target="_blank") Certificat d’assurance
		li: a(href="NIR.pdf",target="_blank") Numéro d’identification au registre - NIR#

block nav1
	|Contact
block nav2
	|À propos
block nav3
	|Services
block nav4
	|Documents