*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-rendering:optimizeLegibility;position:relative}
::selection{background:#e81d00}
body{margin:0;font-family:'Ubuntu Condensed',sans-serif;color:rgba(0,0,0,0.7);background:#eee;padding-top:3.7em;line-height:1.6em;font-size:16px;padding-right:1em;}
@media screen and (max-width:900px){body{font-size:25px}
}@media screen and (max-width:690px){body{font-size:20px}
}@media screen and (max-width:600px){body{font-size:16px}
}@media screen and (min-width:1300px){body{font-size:18px}
}@media screen and (min-width:1390px){body{font-size:20px}
}figure{margin:0}
img{max-width:100%;border:none}
strong,h1,h2,h3,h4,h5{font-family:'Ubuntu',sans-serif;color:rgba(0,0,0,0.9)}
h1,h2,h3,h4,h5{margin-bottom:.15em}
h4,h5{margin:0}
p{margin:0}
p+p{margin-top:1.6em}
ul{margin:0}
a{color:#e81d00}
a::selection,h2:target::selection{color:#fff}
h2>img{width:250px;float:right;margin-left:0 10px 10px 0;border:solid 8px #fff;}
@media screen and (max-width:600px){h2>img{float:none;display:block;left:100%;margin-left:-250px;margin-top:10px}
}.module,.nav,.avatar,.map,h2>img,section{-webkit-box-shadow:0 0 8px rgba(0,0,0,0.1);box-shadow:0 0 8px rgba(0,0,0,0.1)}
.avatar{width:5.5em;height:5.5em;background:#e81d00;float:left;margin:0 1em 0 0}
.module,section{display:inline-block;vertical-align:top;padding:2em;width:100%;background:#fff;margin-bottom:1em;text-align:left;}
.module h2,section h2{margin-top:-100px;padding-top:100px;}
.module h2:target,section h2:target{color:#e81d00;text-shadow:0 0 6px rgba(232,29,0,0.2)}
nav,nav a{border-top:solid 1px rgba(255,255,255,0.2);border-bottom:solid 1px rgba(0,0,0,0.1)}
nav{background:#e81d00;text-align:center;position:fixed;width:100%;z-index:10;top:0;left:0;}
nav a{display:inline-block;padding:.5em 3em;color:#fff;text-decoration:none;text-shadow:0 1px 0 rgba(255,255,255,0.3),0 -1px 0 rgba(0,0,0,0.2);border-left:solid 1px rgba(0,0,0,0.1);border-right:solid 1px rgba(255,255,255,0.2);margin:-1px;}
nav a.first{-webkit-box-shadow:-1px 0 0 rgba(255,255,255,0.2);box-shadow:-1px 0 0 rgba(255,255,255,0.2)}
nav a.last{-webkit-box-shadow:1px 0 0 rgba(0,0,0,0.1);box-shadow:1px 0 0 rgba(0,0,0,0.1)}
nav a:hover,nav a.clicked{text-shadow:0 0 10px rgba(255,255,255,0.7)}
@media screen and (max-width:900px){nav a{width:50%}
nav{top:auto;bottom:0}
body{padding-bottom:5.3em;padding-top:1em}
}@media screen and (min-width:900px){nav a.clicked:after{content:"";display:block;width:0;height:0;position:absolute;bottom:-.9em;left:50%;margin-left:-.5em;border:solid .5em transparent;border-top-color:#e81d00}
}.artbg{padding-bottom:55%;background:#fff url("artb.jpg") bottom right no-repeat;-webkit-background-size:contain;-moz-background-size:contain;background-size:contain}
figure.module{line-height:0;padding:0}
.col1,.col2{vertical-align:top;padding-left:1em;display:inline-block}
.col1{width:61.8%}
.col2{width:38.2%}
.col2 figure.module{display:none}
@media screen and (max-width:900px){.col1,.col2{width:100%;width:100%}
.col2 figure.module{display:inline-block}
.col1 figure.module{display:none}
}