extends template

block title
	|Lacaille TRANSIT

block contactTitle
	|Contact us

block contactAddress
	p
		strong Phone : 
		|(514) 943-5200
		ul
			li Dispatch: ext. 1
			li Accounting: ext. 2
		strong Fax : 
		|(450) 659-7067<br><br>
		|79, Chemin d`Auteuil<br>
		|Candiac, Quebec<br>
		|J5R 5H5<br><br>

block contact1t
	|President:
			
block contact2t
	|Dispatch:

block contact3t
	|Administration:

block contact4t
	|Representative:

block contact5t
	|Payables Processing:

block aboutTitle
	|About us
block about
	p At Lacaille Transit, trucking is a family tradition which goes back 3 generations. Founded in 2005, we have developed a dynamic team of experienced professionals offering personalized service to cater your needs.
	p Based in Candiac, QC on the South Shore of Montreal, our recent fleet services Eastern Canada from Newfoundland to Manitoba.
	p Our equipment consists of 25 tractors, an inventory of tri-axles dry boxes, flat beds and ocean container chassis.
	p We provide our customers with an unparallel level of service to meet or exceed their expectations.
	p Our goal is to establish long lasting business relationships.
block servicesTitle
	|Services:

block services
	p We offer the following services:
	ul 
		li Closed trailers
		li Flatbeds
		li Shipping containers
		li Intermodal transport 
		li Oversea service
		li Dedicated services (dry, refrigerated and frozen products)

block documentsTitle
	|Useful documents

block documents
	ul
		li: a(href="creditapplicationenglish.xls",target="_blank") Credit Application
		li: a(href="info_credit.pdf",target="_blank") Credit Information (french)
		li: a(href="Assurance_2012.pdf",target="_blank") Insurance certificate (french)
		li: a(href="NIR.pdf",target="_blank") Registry identification number - RIN# (french)

block nav1
	|Contact
block nav2
	|About
block nav3
	|Services
block nav4
	|Documents
block langswitch
	a.langswitch(href=".") Français

block credits
	.credits Created by 
		a(href="http://MaloWeb.com") MaloWeb.com